<div class="container-fluid">

  <div class="row" ng-if="error">
    <div  uib-alert class="alert-danger centerText errorAlert" close="closeAlert()">
      <h3>Error</h3>
      <p>{{error}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 greyContainer adminLog">
      <h3 class="centerText">Login</h3>

      <form name="adminForm" ng-submit="adminLogin(adminForm.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-danger' : adminForm.email.$invalid && !adminForm.email.$pristine }">
          <label for="adminEmail" class="sr-only" >Login Email</label>
          <input tabindex="1" autofocus required type="email" class="form-control" placeholder="Email" id="adminEmail" ng-model='admin.email' name="email">
          <p ng-show="adminForm.email.$invalid && !adminForm.email.$pristine" class="form-text text-muted">Please enter a vaild E-Mail Adderess</p>
        </div>

        <div class="form-group" ng-class="{ 'has-danger' : adminForm.password.$invalid && !adminForm.password.$pristine }">
          <label class="sr-only" for="adminPassword">Password</label>
          <input required tabindex="2" type="password" class="form-control" id="adminPassword" placeholder="Password" ng-model='admin.password' name="password" ng-minlength="5">
          <p ng-show="adminForm.password.$error.minlength" class="form-text text-muted">Passwords are at least 5 characters long</p>
        </div>

        <div class="row">
          <button class="btn btn-secondary centerButton" type="submit">Log In</button>
        </div>

      </form>
    </div>
  </div>
</div>
