<div class="boxBg">

  <form name="editOrgForm" ng-submit="editOrganization(editOrgForm.$valid)" >
    <div class="container-fluid servicesContainer">
      <div class="row" ng-if="error">

        <div  uib-alert class="alert-danger centerText errorAlert" close="closeAlert()">
          <h3>Error</h3>
          <p>{{error}}</p>
        </div>
      </div>

        <div class="row">

          <div class="col-sm-6 col-sm-push-3 centerText">
            <div class="editOrgName">
              <h2>{{editOrg.orgName}}</h2>
            </div>
            <div class="centerBottomAddress centerText">
              <p>{{editOrg.formattedAddress}}</p>
            </div>
          </div>

          <div class="col-sm-3 col-sm-pull-6 editInfoAdjust">

            <div class="form-group input-group lowerZ" ng-class="{ 'has-danger' : editOrgForm.website.$invalid && !editOrgForm.$pristine }">
              <label for="website" class="sr-only">Organizations Website</label>
              <input type="text" name="website" class="form-control" placeholder="Website" ng-model="editOrg.website" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
            </div>
            <p ng-show="editOrgForm.website.$invalid && !editOrgForm.website.$pristine" class="form-text text-muted">Please enter a vaild Website</p>

            <div class="form-group input-group lowerZ" ng-class="{ 'has-danger' : editOrgForm.email.$invalid && !editOrgForm.email.$pristine }">
              <label for="orgEmail" class="sr-only" >Contact Email</label>
              <input type="email" class="form-control" placeholder="Contact E-Mail" id="orgEmail" ng-model='editOrg.contactEmail' name="email" ui-mask-placeholder>

            </div>
            <p ng-show="editOrgForm.email.$invalid && !editOrgForm.email.$pristine" class="form-text text-muted">Please enter a vaild E-Mail Adderess</p>

            <div class="form-group input-group lowerZ" ng-class="{ 'has-danger' : editOrgForm.phone.$invalid && !editOrgForm.phone.$pristine }">
              <label for="orgPhone" class="sr-only">Contact Phone Number</label>
              <input type="tel" class="form-control" placeholder="Phone Number" ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="(999) 999-9999" id="orgPhone" ng-model='editOrg.phone' name="phone">
            </div>

          </div>

          <div class="col-sm-3 centerText">
            <div class="form-group centerText" ng-class="{ 'has-error' : editOrgForm.description.$invalid && !editOrgForm.description.$pristine }">
              <label class="" for="description">Tell us about your Organization</label>
              <textarea class="form-control" id="description" rows="5" name="description" ng-model="editOrg.description"></textarea>
              <p ng-show="editOrgForm.description.$invalid && !editOrgForm.description.$pristine">Description must be at least 3 characters long.</p>
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid servicesContainer">
        <div class="row tall">

          <div class="col-sm-6 col-sm-push-6 servicesPadding">
            <div class="row mySmall">
              <div class="col-xs-6">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model='editOrgServices.beds' ng-true-value="true" ng-false-value="false">
                  Beds available
                </label>
              </div>
              <div class="col-xs-6">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model='editOrgServices.cloths' ng-true-value="true" ng-false-value="false">
                  Clothing available
                </label>
              </div>
            </div>
            <div class="row mySmall">
              <div class="col-xs-6">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model='editOrgServices.childCare' ng-true-value="true" ng-false-value="false">
                  Childcare available
                </label>
              </div>
              <div class="col-xs-6">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model='editOrgServices.recActivites' ng-true-value="true" ng-false-value="false">
                  Recreational Activities
                </label>
              </div>
            </div>
            <div class="row mySmall">
              <div class="col-xs-6">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model='editOrgServices.donations' ng-true-value="true" ng-false-value="false">
                  Takes Donations
                </label>
              </div>
              <div class="col-xs-6">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model='editOrgServices.education' ng-true-value="true" ng-false-value="false">
                  Educational Help
                </label>
              </div>
            </div>
            <div class="row mySmall">
              <div class="col-xs-6">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model='editOrgServices.job' ng-true-value="true" ng-false-value="false">
                  Job Placement Help
                </label>
              </div>
              <div class="col-xs-6">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" ng-model='editOrgServices.interview' ng-true-value="true" ng-false-value="false">
                  Interview Help
                </label>
              </div>
            </div>
            <div class="row mySmall">
              <div class="col">
                <div class="form-group centerText">
                  <label class="" for="otherServices">Other services you have available</label>
                  <textarea class="form-control" id="otherServices" rows="3" name="otherServices" ng-model="editOrgServices.otherServices"></textarea>
                </div>
              </div>
            </div>
            <div class="row mySmall ">
              <div class="col-xs-12 centerText align-self-center">
                <button class="btn btn-secondary" type="submit">Save Changes</button>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-sm-pull-7 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-12 centerText ">
                <div class="hoursContainer">
                  <h3 class="">Hours of Operation</h3>
                  <p><a href="" ng-click="addDay2('HOP')">Add a Day</a></p>
                </div>
                <table class="table table-sm table-hover">
                  <tbody>
                    <tr id="timeTable" ng-repeat="d in editOrg.hoursOfOperation">
                      <td>{{d.name}}</td>
                      <td id="editTimePick" uib-timepicker ng-model="d.open" ng-disabled=true show-spinners=false readonly-input=true></td>
                      <td class="editTableTo">to</td>
                      <td id="editTimePick" uib-timepicker ng-model="d.close" ng-disabled=true show-spinners=false readonly-input=true></td>
                      <td><button type="button" class="btn btn-secondary btn-sm smallerBtn" ng-click="removeDay($index, 'hoursOfOperation')">remove</button></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 centerText ">
                <div class="hoursContainer">
                  <h3 class="">Days Serving Food</h3>
                  <p><a href="" ng-click="addDay2('Food')">Add a Day</a></p>
                </div>
                <table class="table table-sm table-hover">
                  <tbody>
                    <tr id="timeTable" ng-repeat="d in editOrg.daysServingFood">
                      <td>{{d.name}}</td>
                      <td id="editTimePick" uib-timepicker ng-model="d.open" ng-disabled=true show-spinners=false readonly-input=true></td>
                      <td class="editTableTo">to</td>
                      <td id="editTimePick" uib-timepicker ng-model="d.close" ng-disabled=true show-spinners=false readonly-input=true></td>
                      <td><button type="button" class="btn btn-secondary btn-sm smallerBtn" ng-click="removeDay($index, 'daysServingFood')">remove</button></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>


        </div>
    </div>
  </form>

  <!-- <button type="button" name="button" ng-click='addDay2()'>days2</button> -->
</div>





<!-- ========== Add Day Modal ========== -->
<div class="HoursOfOp-Modal">
    <script type="text/ng-template" id="HoursOfOpModal.html">
        <div class="modal-header">
            <h3 class="modal-title centerText" id="modal-title">{{modalTitle}}</h3>
        </div>

        <form name="addDayForm" ng-submit="add()">
          <div class="modal-body " id="modal-body">
              <div class="row">
                <div class="col--sm-12" ng-model="days" ng-weekday-selector></div>
              </div>

              <!-- <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-3">
                  <h4>Open</h4>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <h4>Close</h4>
                </div>
              </div> -->

              <div class="row">
                <div class="col-sm-4 col-sm-offset-2 timePick" uib-timepicker hour-step="1" minute-step="15" ng-model="open"></div>

                <div class="col-sm-4 timePick" uib-timepicker hour-step="1" minute-step="15" ng-model="close"></div>
              </div>
            </div>

          <div class="modal-footer centerText">
            <button class="col-sm-4 col-sm-offset-2 btn btn-secondary" type="submit">Add</button>
            <button class="col-sm-4  btn btn-secondary " type="button" ng-click="cancel()">Cancel</button>
          </div>
      </form>

    </script>
</div>
<!-- ========== End Add Day Modal ========== -->




<!-- ========== Save Mask ========== -->
<div class="container-fluid saveMask" ng-show='savedMask'>
<!-- <div class="container-fluid saveMask"> -->
  <div class="centerText">
    <h1 class="">Saved</h1>
  </div>


</div>
<!-- ========== End Save Mask ========== -->
