<form name="editOrgForm" ng-submit="editOrganization(editOrgForm.$valid)" >
  <div class="container-fluid servicesContainer">

      <div class="row justify-content-around">

        <div class="col-sm-3 order-12 order-md-5 ">

          <div class="form-group input-group lowerZ" ng-class="{ 'has-danger' : editOrgForm.website.$invalid && !editOrgForm.$pristine }">
            <label for="website" class="sr-only">Organizations Website</label>
            <input type="text" name="website" class="form-control" placeholder="Website" id="website" ng-model="editOrg.website" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
            <!-- <span ng-show="isAvailable.website" class="input-group-btn">
              <button class="btn btn-secondary">X</button>
            </span> -->
          </div>
          <p ng-show="editOrgForm.website.$invalid && !editOrgForm.website.$pristine" class="form-text text-muted">Please enter a vaild E-Mail Adderess</p>
          <!-- <p ng-show="editOrgForm.website.$invalid && !editOrgForm.website.$pristine" class="form-text text-muted">Please enter a vaild E-Mail Adderess</p> -->




          <div class="form-group input-group lowerZ" ng-class="{ 'has-danger' : editOrgForm.email.$invalid && !editOrgForm.email.$pristine }">
            <label for="orgEmail" class="sr-only" >Contact Email</label>
            <input type="email" class="form-control" placeholder="Contact E-Mail" id="orgEmail" ng-model='editOrg.contactEmail' name="email" ui-mask-placeholder>
            <!-- <span ng-show="isAvailable.email" class="input-group-btn">
              <button class="btn btn-secondary" type="button">X</button>
            </span> -->
          </div>
          <p ng-show="editOrgForm.email.$invalid && !editOrgForm.email.$pristine" class="form-text text-muted">Please enter a vaild E-Mail Adderess</p>

          <div class="form-group input-group lowerZ" ng-class="{ 'has-danger' : editOrgForm.phone.$invalid && !editOrgForm.phone.$pristine }">
            <label for="orgPhone" class="sr-only">Contact Phone Number</label>
            <input type="tel" class="form-control" placeholder="Phone Number" ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="(999) 999-9999" id="orgPhone" ng-model='editOrg.phone' name="phone">
            <!-- <span ng-show="isAvailable.phone" class="input-group-btn">
              <button class="btn btn-secondary" type="button">X</button>
            </span> -->
          </div>
          <!-- <p ng-show="editOrgForm.phone.$invalid && !editOrgForm.phone.$pristine" class="form-text text-muted">Please enter a vaild Phone Number</p> -->

        </div>


        <div class="col-sm-5 order-5 order-md-12 centerText">
          <div class="editOrgName">
            <h2>{{editOrg.orgName}}</h2>
          </div>
          <div class="centerBottom centerText">
            <p>{{editOrg.formattedAddress}}</p>
          </div>
        </div>

        <div class="col-sm-3 order-12 ">
          <div class="form-group centerText" ng-class="{ 'has-error' : editOrgForm.description.$invalid && !editOrgForm.description.$pristine }">
            <label class="" for="description">Tell us about your Organization</label>
            <textarea class="form-control" id="description" rows="5" name="description" ng-model="editOrg.description"></textarea>
            <p ng-show="editOrgForm.description.$invalid && !editOrgForm.description.$pristine">Description must be at least 3 characters long.</p>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid servicesContainer">
      <div class="row justify-content-around tall">
        <div class="col-sm-6 ">
          <div class="row">
            <div class="col medium centerText ">
              <div class="hoursContainer">
                <h3 class="">Hours of Operation</h3>
                <p><a href="" ng-click="addDayOfOp()">Add a Day</a></p>
              </div>

              <table class="table table-sm table-hover">
                <tbody>
                  <tr ng-repeat="d in editOrg.hoursOfOperation">
                    <th scope="row">{{d.day}}</th>
                    <td>{{d.open}} {{d.openPeriod}}</td>
                    <td class="editTableTo">to</td>
                    <td>{{d.closed}} {{d.closedPeriod}}</td>
                    <td><button type="button" class="btn btn-secondary btn-sm smallerBtn" ng-click="removeDay($index, 'hoursOfOperation')">remove</button></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
          <div class="row">
            <div class="col medium centerText ">
              <div class="hoursContainer">
                <h3 class="">Days Serving Food</h3>
                <p><a href="" ng-click="addServing()">Add a Day</a></p>
              </div>
              <table class="table table-sm table-hover">
                <tbody>
                  <tr ng-repeat="d in editOrg.daysServingFood">
                    <th scope="row">{{d.day}}</th>
                    <td>{{d.open}} {{d.openPeriod}}</td>
                    <td class="editTableTo">to</td>
                    <td>{{d.closed}} {{d.closedPeriod}}</td>
                    <td><button type="button" class="btn btn-secondary btn-sm smallerBtn" ng-click="removeDay($index, 'daysServingFood')">remove</button></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="col-sm-6 servicesPadding">
          <div class="row mySmall align-items-center">
            <div class="col">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model='editOrgServices.beds' ng-true-value="true" ng-false-value="false">
                Beds available
              </label>
            </div>
            <div class="col">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model='editOrgServices.cloths' ng-true-value="true" ng-false-value="false">
                Clothing available
              </label>
            </div>
          </div>
          <div class="row mySmall align-items-center">
            <div class="col">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model='editOrgServices.childCare' ng-true-value="true" ng-false-value="false">
                Childcare available
              </label>
            </div>
            <div class="col">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model='editOrgServices.recActivites' ng-true-value="true" ng-false-value="false">
                Recreational Activities
              </label>
            </div>
          </div>
          <div class="row align-items-center mySmall">
            <div class="col">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model='editOrgServices.donations' ng-true-value="true" ng-false-value="false">
                Takes Donations
              </label>
            </div>
            <div class="col">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model='editOrgServices.education' ng-true-value="true" ng-false-value="false">
                Educational Help
              </label>
            </div>
          </div>
          <div class="row align-items-center mySmall">
            <div class="col">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model='editOrgServices.job' ng-true-value="true" ng-false-value="false">
                Job Placement Help
              </label>
            </div>
            <div class="col">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model='editOrgServices.interview' ng-true-value="true" ng-false-value="false">
                Interview Help
              </label>
            </div>
          </div>
          <div class="row align-items-center mySmall">
            <div class="col">
              <div class="form-group">
                <label class="" for="otherServices">Other services you have available</label>
                <textarea class="form-control" id="otherServices" rows="3" name="otherServices" ng-model="editOrgServices.otherServices"></textarea>
              </div>
            </div>
          </div>
          <div class="row mySmall ">
            <div class="col centerText align-self-center">
              <button class="btn btn-secondary" type="submit">Save Changes</button>
            </div>
          </div>
        </div>

      </div>
  </div>
</form>







<!-- ========== Add Hours of Operation Display Mask ========== -->
<div class="DisplayMaskBackground container-fluid" ng-show='hoursOfOpMask'>
<!-- <div class="DisplayMaskBackground container-fluid "> -->

    <div class="row justify-content-center">
      <div class="col-7 editPageMask">
        <h3 class="centerText">When are you Open?</h3>
        <h5 ng-show="hoursOfOpFormInvalid" class="form-text alert alert-danger centerText">All Fields are required</h5>
        <h5 ng-show="hoursOfOpFormInvalid2" class="form-text alert alert-danger centerText">You can not open after you close</h5>

        <form name="hoursOfOpForm" class="form-row justify-content-center" ng-submit="addDay(hoursOfOpForm.$valid, 'hoursOfOperation')" novalidate>

          <div class="form-group col-auto" >
            <select class="custom-select" ng-class="{ 'redBackground' : hoursOfOpForm.day.$invalid && !hoursOfOpForm.day.$pristine }" ng-model='hoursOfOp.day' name="day" required>
              <option value="">Day</option>
              <option value="Monday">Mon</option>
              <option value="Tuesday">Tues</option>
              <option value="Wednesday">Wen</option>
              <option value="Thursday">Thurs</option>
              <option value="Friday">Fri</option>
              <option value="Saturday">Sat</option>
              <option value="Sunday">Sun</option>
            </select>
          </div>

          <div class="form-group col-auto">
            <select class="custom-select" ng-class="{ 'redBackground' : hoursOfOpForm.open.$invalid && !hoursOfOpForm.open.$pristine }" ng-model='hoursOfOp.open' name="open" required>
              <option value="">Open At</option>
              <option value="1:00">1:00</option>
              <option value="1:30">1:30</option>
              <option value="2:00">2:00</option>
              <option value="2:30">2:30</option>
              <option value="3:00">3:00</option>
              <option value="3:30">3:30</option>
              <option value="4:00">4:00</option>
              <option value="4:30">4:30</option>
              <option value="5:00">5:00</option>
              <option value="5:30">5:30</option>
              <option value="6:00">6:00</option>
              <option value="6:30">6:30</option>
              <option value="7:00">7:00</option>
              <option value="7:30">7:30</option>
              <option value="8:00">8:00</option>
              <option value="8:30">8:30</option>
              <option value="9:00">9:00</option>
              <option value="9:30">9:30</option>
              <option value="10:00">10:00</option>
              <option value="10:30">10:30</option>
              <option value="11:00">11:00</option>
              <option value="11:30">11:30</option>
              <option value="12:00">12:00</option>
              <option value="12:30">12:30</option>
            </select>
          </div>

          <div class="form-group col-auto">
            <select class="custom-select" ng-class="{ 'redBackground' : hoursOfOpForm.openPeriod.$invalid && !hoursOfOpForm.openPeriod.$pristine }" name="openPeriod" ng-model='hoursOfOp.openPeriod' required>
              <option value="">am/pm</option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>

          <div class="form-group col-auto">
            <select class="custom-select" ng-class="{ 'redBackground' : hoursOfOpForm.closed.$invalid && !hoursOfOpForm.closed.$pristine }" name="closed" ng-model='hoursOfOp.closed' required>
              <option value="">Close At</option>
              <option value="1:00">1:00</option>
              <option value="1:30">1:30</option>
              <option value="2:00">2:00</option>
              <option value="2:30">2:30</option>
              <option value="3:00">3:00</option>
              <option value="3:30">3:30</option>
              <option value="4:00">4:00</option>
              <option value="4:30">4:30</option>
              <option value="5:00">5:00</option>
              <option value="5:30">5:30</option>
              <option value="6:00">6:00</option>
              <option value="6:30">6:30</option>
              <option value="7:00">7:00</option>
              <option value="7:30">7:30</option>
              <option value="8:00">8:00</option>
              <option value="8:30">8:30</option>
              <option value="9:00">9:00</option>
              <option value="9:30">9:30</option>
              <option value="10:00">10:00</option>
              <option value="10:30">10:30</option>
              <option value="11:00">11:00</option>
              <option value="11:30">11:30</option>
              <option value="12:00">12:00</option>
              <option value="12:30">12:30</option>
            </select>
          </div>

          <div class="form-group col-auto">
            <select class="custom-select" ng-class="{ 'redBackground' : hoursOfOpForm.closedPeriod.$invalid && !hoursOfOpForm.closedPeriod.$pristine }" name="closedPeriod" ng-model='hoursOfOp.closedPeriod' required>
              <option value="">am/pm</option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>

          <div class="row justify-content-center">
            <div class="col-auto">
              <button class="btn btn-secondary" type="submit">Add</button>
            </div>

            <div class="col-auto">
              <button class="btn btn-secondary" type="button" ng-click="closeMask()">Cancel</button>
            </div>
          </div>

        </form>
      </div>
    </div>

</div>
<!-- ========== End Add Hours of Operation  Display Mask ========== -->







<!-- ========== Add Serving Food Display Mask ========== -->
<div class="DisplayMaskBackground container-fluid" ng-show='servingFoodMask'>
<!-- <div class="DisplayMaskBackground container-fluid "> -->

    <div class="row justify-content-center">
      <div class="col-7 editPageMask">
        <h3 class="centerText">When are you Serving Food?</h3>
        <h5 ng-show="hoursOfOpFormInvalid" class="form-text alert alert-danger centerText">All Fields are required</h5>        <h5 ng-show="servingFoodFormInvalid2" class="form-text alert alert-danger centerText">You can not start after you stop</h5>


        <form name="servingFoodForm" class="form-row justify-content-center" ng-submit="addDay(servingFoodForm.$valid, 'daysServingFood')" novalidate>

          <div class="form-group col-auto" >
            <select class="custom-select" ng-class="{ 'redBackground' : servingFoodForm.day.$invalid && !servingFoodForm.day.$pristine }" ng-model='servingFood.day' name="day" required>
              <option value="">Day</option>
              <option value="Monday">Mon</option>
              <option value="Tuesday">Tues</option>
              <option value="Wednesday">Wen</option>
              <option value="Thursday">Thurs</option>
              <option value="Friday">Fri</option>
              <option value="Saturday">Sat</option>
              <option value="Sunday">Sun</option>
            </select>
          </div>

          <div class="form-group col-auto">
            <select class="custom-select" ng-class="{ 'redBackground' : servingFoodForm.open.$invalid && !servingFoodForm.open.$pristine }" ng-model='servingFood.open' name="open" required>
              <option value="">Open At</option>
              <option value="1:00">1:00</option>
              <option value="1:30">1:30</option>
              <option value="2:00">2:00</option>
              <option value="2:30">2:30</option>
              <option value="3:00">3:00</option>
              <option value="3:30">3:30</option>
              <option value="4:00">4:00</option>
              <option value="4:30">4:30</option>
              <option value="5:00">5:00</option>
              <option value="5:30">5:30</option>
              <option value="6:00">6:00</option>
              <option value="6:30">6:30</option>
              <option value="7:00">7:00</option>
              <option value="7:30">7:30</option>
              <option value="8:00">8:00</option>
              <option value="8:30">8:30</option>
              <option value="9:00">9:00</option>
              <option value="9:30">9:30</option>
              <option value="10:00">10:00</option>
              <option value="10:30">10:30</option>
              <option value="11:00">11:00</option>
              <option value="11:30">11:30</option>
              <option value="12:00">12:00</option>
              <option value="12:30">12:30</option>
            </select>
          </div>

          <div class="form-group col-auto">
            <select class="custom-select" ng-class="{ 'redBackground' : servingFoodForm.openPeriod.$invalid && !servingFoodForm.openPeriod.$pristine }" name="openPeriod" ng-model='servingFood.openPeriod' required>
              <option value="">am/pm</option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>

          <div class="form-group col-auto">
            <select class="custom-select" ng-class="{ 'redBackground' : servingFoodForm.closed.$invalid && !servingFoodForm.closed.$pristine }" name="closed" ng-model='servingFood.closed' required>
              <option value="">Close At</option>
              <option value="1:00">1:00</option>
              <option value="1:30">1:30</option>
              <option value="2:00">2:00</option>
              <option value="2:30">2:30</option>
              <option value="3:00">3:00</option>
              <option value="3:30">3:30</option>
              <option value="4:00">4:00</option>
              <option value="4:30">4:30</option>
              <option value="5:00">5:00</option>
              <option value="5:30">5:30</option>
              <option value="6:00">6:00</option>
              <option value="6:30">6:30</option>
              <option value="7:00">7:00</option>
              <option value="7:30">7:30</option>
              <option value="8:00">8:00</option>
              <option value="8:30">8:30</option>
              <option value="9:00">9:00</option>
              <option value="9:30">9:30</option>
              <option value="10:00">10:00</option>
              <option value="10:30">10:30</option>
              <option value="11:00">11:00</option>
              <option value="11:30">11:30</option>
              <option value="12:00">12:00</option>
              <option value="12:30">12:30</option>
            </select>
          </div>

          <div class="form-group col-auto">
            <select class="custom-select" ng-class="{ 'redBackground' : servingFoodForm.closedPeriod.$invalid && !servingFoodForm.closedPeriod.$pristine }" name="closedPeriod" ng-model='servingFood.closedPeriod' required>
              <option value="">am/pm</option>
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>

          <div class="col-auto">
            <button class="btn btn-secondary" type="submit">Add</button>
          </div>

          <div class="col-auto">
            <button class="btn btn-secondary" type="button" ng-click="closeMask()">Cancel</button>
          </div>

        </form>
      </div>
    </div>

</div>
<!-- ========== End Add Serving Food  Display Mask ========== -->







<!--  -->

<!-- <button type="button" class="btn btn-default" ng-click="open()">Open me!</button> -->



<!-- ========== Save  Mask ========== -->
<div class="container-fluid saveMask" ng-show='savedMask'>
<!-- <div class="container-fluid saveMask"> -->

    <div class="row justify-content-center">
      <div class="col centerText">
        Saved
      </div>
    </div>

</div>
<!-- ========== End Save  Mask ========== -->
