<!-- <accordion close-others="oneAtATime">

    <accordion-group is-open="true">

        <accordion-heading>
            header 1 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </accordion-heading>

        <p>
           <strong>This</strong> content is straight in the template, and is initially expanded.
        </p>

    </accordion-group>

    <accordion-group>
      <accordion-heading>
            header 1 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </accordion-heading>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare lobortis ipsum, vel dictum diam. Cras consectetur lorem non laoreet gravida. Aenean magna magna, accumsan et urna at, pellentesque ultrices nisi.
      </p>

    </accordion-group>

  </accordion> -->
