.backgroundImage{
  /*background-image: url('../assets/mochaGrunge_@2X.png');*/
  background-image: url('../assets/backgroundImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90%;
  width: 100%;
  top: 53px;
  position: absolute;
}
/*=======================================================*/
/*===================== Tools Classes ===================*/
/*=======================================================*/
.tall{
  min-height: 500px;
}

.mySmall{
  min-height: 75px;
}
/*=======================================================*/
/*==================== Global Classes ===================*/
/*=======================================================*/
.greyContainer{
  background-color: rgba(225, 225, 225, 0.85);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.DisplayMaskBackground{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8)
}

.centerText{
  text-align: center;
}

.redBackground{
  background: rgba(241, 221, 222,1);
}

.whiteBG{
  background: white;
  width: 60%;
  height: 60%;
  margin-left: 20%;
}

.btn{
  border: 1px solid rgba(107, 120, 142, .5);
  box-shadow:1px 1px 2px;
}

.btn-secondary:hover{
  background-color: #d8d8d8;
}

/*==================== Fixer Classes ==================*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


/*=======================================================*/
/*==================== Nav Bar Classes ==================*/
/*=======================================================*/
.navbar-collapse.in {
  overflow-y: hidden;
}

.navBarColor{
  background-color: rgb(126, 164, 183);
  border: 2px solid black;
}

#brandText{
  color: black;
}

/*=======================================================*/
/*=================== Home Page Classes =================*/
/*=======================================================*/
.homeSpacing{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
}

.homeHeader{
  text-align: center;
  padding-top: 8px;
  padding-bottom: 10px;
}

.homeHeader p, .homeHeader h2{
  margin-bottom: 2px;
  margin-top: 2px;
}

.mapInfoBox a, .mapInfoBox p{
  display: block;
  margin-bottom: 5px;
}

#mapId{
  height: 475px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.mapDiv{
  padding: 0;
  margin-top: 2%;
}

.accordionDiv{
  min-height: 475px;
  margin-top: 2%;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(225, 225, 225, 0.85);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.accordionDiv td:hover{
  cursor: pointer;
}

.accordionDiv td:nth-child(1){
  font-size: 1.2em;
}

.panel-body{
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
}

.accordHeading{
  float: right;
  font-size: small;
}

.panel-default .panel-heading{
  background-color: rgba(126, 164, 183, .7);
}

.panel{
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: #fff;
  border: none;
}

.citySearchDiv{
  height: 55px;
  padding-top: 10px;;
  padding-left: 5%;
  padding-bottom: 10px;
}

.citySearchDiv h4{
  margin: 0;
  padding-bottom: 10px;
  margin-left: 15%;
  text-align: center;
}

.citySearchDiv .form-control{
  width: 95%;
}

.searchResults{
  text-align: center;
  height: 135px;
  overflow-y: auto;
  box-shadow: 1px 1px 2px rgba(112, 112, 112, .3);
  margin-top: 2%;
  margin-bottom: 2%;
}

.searchResults a {
  text-decoration: none;
  color: black;
}

.searchResults a:hover {
  color: #0986c6;
}

.searchResults li {
  list-style: none;
  text-align: center;
}

.searchResults span {
  font-weight: bold;
}

.searchResults a, .searchResults p {
  margin: 5px;
  display: inline-block;
}


.footer{
  font-size: .6em;
  padding: 10px 10px 0 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.footer div:nth-child(2){
  padding: 0;
  text-align: right;
}

.footerCopied{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 500px) {
  .citySearchDiv{
    margin-top: 15px;
    margin-left: .5%;
    margin-bottom: 25px;
    height: auto;
    padding-top: 25px;
  }
  .citySearchDiv form div:nth-child(3){
    padding-left: calc(50% - 35px);
  }
  .footer div:nth-child(1){
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .accordionDiv{
    max-height: 475px;
  }
  .citySearchDiv{
    position: absolute;
    bottom: 30px;
  }
  .mapDiv{
    width: 45%;
  }
  .centerDivide{
    width: 10%;
  }
  .accordionDiv{
    width: 45%;
  }
}

/*=======================================================*/
/*================= Loading Ring Classes ================*/
/*=======================================================*/
@keyframes lds-ripple {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 17px;
    left: 17px;
    width: 154px;
    height: 154px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 17px;
    left: 17px;
    width: 154px;
    height: 154px;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 6px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #c5523f;
}
.lds-ripple div:nth-child(2) {
  border-color: #f2b736;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  margin-left: calc(50% - 100px);
  margin-top: 15%;
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/*=======================================================*/
/*================= Log/Reg Page Classes ================*/
/*=======================================================*/
.logRegContainers{
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 2%;
  min-height: 250px;
  padding-top: 1px;
}

.centerButton{
  min-width: 80px;
  margin-left: calc(50% - 40px);
  margin-top: 5%;
  margin-bottom: 5%;
}

.addressNotFound{
  font-size: .7em;
  padding: 5%;
}

.latLngContainer{
  margin: 0 5% 5% 5%;
}

.latLngDiv{
  height: 300px;
  padding: 1% 5% 2% 5%;
}

.latLngDiv form{
  margin-top: 15%;
}

.latLngDiv input{
  background-color: rgb(235,235,235);
  width: 110%;
  margin-left: -5%;
}

.latLngDiv button{
  margin-top: 10%;
}

.jumbotronError{
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: red;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.logRegError{
  color: red;
  margin-bottom: 10px;
  font-size: 1.9em;
  font-weight: bolder;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .logRegContainers:nth-child(1){
    margin-top: 5px;
  }
  .latLngDiv {
    margin-bottom: 5%;
  }
}

/*=======================================================*/
/*================== Edit Page Classes ==================*/
/*=======================================================*/
.servicesContainer{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1%;
}

.timePick .btn-link {
  box-shadow: 0px 0px 0px;
  border: 0;
}

#editTimePick input, #editTimePick button {
  box-shadow: 0px 0px 0px;
  border: 0;
  background-color: inherit;
  color: black;
  padding: 0;
  width: 25px;;
}

#editTimePick button{
  font-weight: 400;
}

#editTimePick {
  padding: 2px;
}

.boxBg{
  margin: 0 5% 1% 5%;
  background-color: rgba(225, 225, 225, 0.85);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.servicesContainer h4, .servicesContainer h3{
  margin-top: 0;
}

.form-control{
  border: 1px solid rgba(107, 120, 142, .5);
  background-color: rgba(225, 225, 225, .5);
  box-shadow:1px 1px 2px;
  color: black;
}

.mySelect div select{
  width: auto;
}

.servicesPadding{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

.editPageMask{
  z-index: 3;
  margin-top: 15%;
  background-color: white;
  padding: 5%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.lowerZ{
  z-index: 0;
}

.saveMask{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-animation: fadeinout 1.3s linear forwards;
  animation: fadeinout 1.3s linear forwards;
  background-image: url('../assets/backgroundImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.saveMask h1{
  text-align: center;
  margin-top: 15%;
  font-weight: bold;
  color: white;
  text-shadow: 0px 7px 21px #800000;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; visibility: visible;}
  55% { opacity: 1;}
  55% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; visibility: hidden;}
}

@keyframes fadeinout {
  0% { opacity: 0; visibility: visible;}
  55% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; visibility: hidden;}
}

.smallerBtn {
  line-height: 10px;
  height: 25px;
}

.hoursContainer{
  display: flex;
  justify-content: space-around;
}

.hoursContainer p{
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: smaller;
  padding-left: 50px;
}

#timeTable td{
  vertical-align: middle;
}

.editTableTo{
  width: 25px;
}

@media only screen and (max-width: 500px) {
  .editInfoAdjust{
    padding-left: calc(50% - 80px);
  }
  .editPageMask{
    margin-left: 10%;
    margin-right: 10%;
  }
  .Btn2{
    margin-left: 10%;
  }
  .mySelect div select{
    width: 120px;
    margin-left: calc(50% - 60px);
  }

}

/*=======================================================*/
/*================== Show Page Classes ==================*/
/*=======================================================*/
.servicesSpacing{
  min-height: 30px;
  margin-bottom: 25px;
}

.notAvailable{
  width: 100%;
  text-decoration: line-through;
  color: grey;
}

.copyEmail{
  cursor: pointer;
}

.copied{
  margin-left: 10%;
  margin-right: 10%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: rgb(126, 164, 183);
  color: white;
}

.orgPushDown{
  margin-top: 15px;
}

.OrgName{
  padding-top: 2px;
  display: inline-flex;
}

.OrgName a{
  line-height: 35px;
  padding-right: 10px;
}

.OrgName h2{
  margin-top: 0;
}

.centerBottomAddress{
  margin-top: 5%;
  position: relative;
  bottom:0;
  padding-bottom: 2px;
}

.orgInfo{
  margin-bottom: 15px;
}

#orgMap{
  height: 125px;
}

.orgMapClick:hover{
  cursor: pointer;
}

.popOverTip{
  margin: 0;
  font-size: smaller;
}

.descriptionBox{
  color: black;
  border: 1px solid rgba(107, 120, 142, .5);
  background-color: rgba(225, 225, 225, .5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 70%;
  padding: 5px 10px;
  box-shadow:1px 1px 2px;
}

.otherServicesBox{
  color: black;
  border: 1px solid rgba(107, 120, 142, .5);
  background-color: rgba(225, 225, 225, .5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 100px;
  padding: 5px 10px;
  box-shadow:1px 1px 2px;
}

@media only screen and (max-width: 500px) {
  .orgPushDown{
    margin-top: 0;
  }
}

/*=======================================================*/
/*================== Admin Page Classes ==================*/
/*=======================================================*/
.adminLog{
  margin-top: 10%;
}

.adminSpacing{
  margin-left: .5%;
  margin-right: .5%;
}

.searchBar{
  padding: 8px;
  background-color: rgba(225, 225, 225, 0.85);
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.searchBar input{
  background-color: rgb(215,215,215);
}

.adminTable{
  background-color: rgba(225, 225, 225, 0.85);
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.deleteBtn {
  box-shadow:2px 2px 25px;
  line-height: 10px;
  height: 25px;
  padding: 2px 5px;
}

.deleteBtn:hover {
  background-color: #C83331;
}

.adminEditModal{
  padding-left: 20%;
}

@media only screen and (max-width: 750px) {
  .adminEditModal{
    padding-left: 30%;
  }
}

@media only screen and (max-width: 478px) {
  .adminEditModal{
    padding-left: 20%;
  }
}
